/* リセット
---------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
  word-break:break-all;
}

table{
	border-collapse:collapse;
	border-spacing:0;
	font-size:100%;

}
fieldset,img{
	border:0;
	max-width: 100%;

}
address,caption,cite,code,dfn,em,th,var{
	font-style:normal;
	font-weight:normal;
}

li{
	list-style:none;
}

caption,th{
	text-align:left;
}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}

q:before,q:after{content:'';
}
a:hover{
  color:#e45991;
}

body{
	font-family:"メイリオ","ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", Osaka, Arial, Helvetica, sans-serif;
}
/* ページ共通
---------------------------------------------------- */

.clearfix:after{
  content:".";  /* 新しい要素を作る */
  display:block;  /* ブロックレベル要素に */
  clear:both;
  height:0;
  visibility:hidden;
}

.clearfix{
  min-height:1px;
}

* html .clearfix{
  height:1px;
  /*\*//*/
  height:auto;
  overflow:hidden;
  /**/
}

.clear{
	clear:both;
}

input[type="text"]{
  padding:5px;
}
.none{
	margin:0;
	padding:0;
	border:none;
}
.alignL{text-align:left;}
.alignR{text-align:right;}
.alignC{text-align:center;}

.floatL{float:left;}
.floatR{float:right;}

.PB0{padding-bottom:0px;}
.PB5{padding-bottom:5px;}
.PB10{padding-bottom:10px;}
.PB15{padding-bottom:15px;}
.PB20{padding-bottom:20px;}
.PB25{padding-bottom:25px;}
.PB30{padding-bottom:30px;}
.PB35{padding-bottom:35px;}
.PB40{padding-bottom:40px;}
.PT0{padding-top:0px;}
.PT5{padding-top:5px;}
.PT10{padding-top:10px;}
.PT15{padding-top:15px;}
.PT20{padding-top:20px;}
.PT25{padding-top:25px;}
.PT30{padding-top:30px;}
.PT35{padding-top:35px;}
.PT40{padding-top:40px;}
.PT50{padding-top:50px;}
.PL20{padding-left: 20px;}

.MB0{margin-bottom:0px;}
.MB5{margin-bottom:5px;}
.MB10{margin-bottom:10px;}
.MB15{margin-bottom:15px;}
.MB20{margin-bottom:20px;}
.MB25{margin-bottom:25px;}
.MB30{margin-bottom:30px;}
.MB35{margin-bottom:35px;}
.MB40{margin-bottom:40px;}
.MT0{margin-top:0px;}
.MT5{margin-top:5px;}
.MT10{margin-top:10px;}
.MT15{margin-top:15px;}
.MT20{margin-top:20px;}
.MT25{margin-top:25px;}
.MT30{margin-top:30px;}
.MT35{margin-top:35px;}
.MT40{margin-top:40px;}
.MT50{margin-top:50px;}

.fnt8{font-size:8px;}
.fnt10{font-size:10px;}
.fnt12{font-size:12px;}
.fnt14{font-size:14px;}
.fnt16{font-size:16px;}
.fnt18{font-size:18px;}
.fnt20{font-size:20px;}
.fnt22{font-size:22px;}
.fnt24{font-size:24px;}
.fnt27{font-size:27px;}
.fnt30{font-size:30px;}
.fntBold{  font-weight:bold;}
.fntSmall{  font-size:80%;}

.BSD{border:solid 1px;}
.BDT{border:dotted 1px;}
.BDS{border:dashed 1px;}
.BDN{border:none !important;}

a i{
  margin-right:5px;
}

.fontPink{color:#e45991;}
.fontRed{color:#ff4747;}
.fontGrey{color:#666666;}

